In [48]:
import numpy as np
import pandas as pd

# 31 Yashraj Deepak Devrat
#  3) Descriptive Statistics - Measures of Central Tendency and variability
Perform the following operations on any open source dataset (e.g., data.csv)
1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative
(categorical) variable. For example, if your categorical variable is age groups and quantitative
variable is income, then provide summary statistics of income grouped by the age groups.
Create a list that contains a numeric value for each response to the categorical variable.
2. Write a Python program to display some basic statistical details like percentile, mean,
standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’ of
iris.csv dataset.

Provide the codes with outputs and explain everything that you do in this step.

In [49]:
df=pd.read_csv('adult.csv')
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [50]:
df.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [52]:
df1 = df[['age','fnlwgt','educational-num','capital-gain','hours-per-week']]

In [53]:
df1

       age  fnlwgt  educational-num  capital-gain  hours-per-week
0       25  226802                7             0              40
1       38   89814                9             0              50
2       28  336951               12             0              40
3       44  160323               10          7688              40
4       18  103497               10             0              30
...    ...     ...              ...           ...             ...
48837   27  257302               12             0              38
48838   40  154374                9             0              40
48839   58  151910                9             0              40
48840   22  201490                9             0              20
48841   52  287927                9         15024              40

[48842 rows x 5 columns]

In [54]:
import statistics

In [55]:
def mean_col(col):
    return df[col].mean()

In [56]:
mean_col('age')

38.64358543876172

In [57]:
def mode_col(col):
    return df[col].mode()

In [58]:
mode_col('age')

0    36
Name: age, dtype: int64

In [59]:
def std_col(col):
    return df[col].std()

In [60]:
std_col('age')

13.710509934443557

In [61]:
def median_col(col):
    return df[col].median()

In [62]:
median_col('age')

37.0

In [63]:
def min_col(col):
    return df[col].min()
min_col('age')

17

In [64]:
def max_col(col):
    return df[col].max()
max_col('age')

90

In [65]:
df3=df.groupby("income")["age"].mean()
df3
#print(df1.groupby('age').groups)

income
<=50K    36.872184
>50K     44.275178
Name: age, dtype: float64

In [66]:
df4=df.groupby("income")["age"].median()
df4

income
<=50K    34.0
>50K     43.0
Name: age, dtype: float64

In [67]:
df5=df.groupby("income")["age"].std()
df5

income
<=50K    14.104118
>50K     10.558983
Name: age, dtype: float64

In [68]:

np.percentile(df['age'], 50)

37.0

In [69]:
df6=df.aggregate(np.sum)

In [70]:
df6

age                                                          1887430
workclass          PrivatePrivateLocal-govPrivate?Private?Self-em...
fnlwgt                                                    9263575662
education          11thHS-gradAssoc-acdmSome-collegeSome-college1...
educational-num                                               492234
marital-status     Never-marriedMarried-civ-spouseMarried-civ-spo...
occupation         Machine-op-inspctFarming-fishingProtective-ser...
relationship       Own-childHusbandHusbandHusbandOwn-childNot-in-...
race               BlackWhiteWhiteBlackWhiteWhiteBlackWhiteWhiteW...
gender             MaleMaleMaleMaleFemaleMaleMaleMaleFemaleMaleMa...
capital-gain                                                52703821
capital-loss                                                 4273788
hours-per-week                                               1974310
native-country     United-StatesUnited-StatesUnited-StatesUnited-...
income             <=50K<=50K>50K>50K<=50K<=50K<=50K>50K<=50K<=50...
dtype: object

In [71]:
df7=df.groupby('age')
df7

In [72]:
df8=df.groupby("income")["age"].describe()

In [73]:
df8

          count       mean        std   min   25%   50%   75%   max
income
<=50K   37155.0  36.872184  14.104118  17.0  25.0  34.0  46.0  90.0
>50K    11687.0  44.275178  10.558983  19.0  36.0  43.0  51.0  90.0

In [74]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [75]:
df9=df.groupby("income")["age"].percentile()

AttributeError: 'SeriesGroupBy' object has no attribute 'percentile'

# Iris flower classification

In [76]:
d=pd.read_csv('Iris.csv')

In [77]:
d.tail(30)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
120,121,6.9,3.2,5.7,2.3,Iris-virginica
121,122,5.6,2.8,4.9,2.0,Iris-virginica
122,123,7.7,2.8,6.7,2.0,Iris-virginica
123,124,6.3,2.7,4.9,1.8,Iris-virginica
124,125,6.7,3.3,5.7,2.1,Iris-virginica
125,126,7.2,3.2,6.0,1.8,Iris-virginica
126,127,6.2,2.8,4.8,1.8,Iris-virginica
127,128,6.1,3.0,4.9,1.8,Iris-virginica
128,129,6.4,2.8,5.6,2.1,Iris-virginica
129,130,7.2,3.0,5.8,1.6,Iris-virginica
130,131,7.4,2.8,6.1,1.9,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica
132,133,6.4,2.8,5.6,2.2,Iris-virginica
133,134,6.3,2.8,5.1,1.5,Iris-virginica
134,135,6.1,2.6,5.6,1.4,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
136,137,6.3,3.4,5.6,2.4,Iris-virginica
137,138,6.4,3.1,5.5,1.8,Iris-virginica
138,139,6.0,3.0,4.8,1.8,Iris-virginica
139,140,6.9,3.1,5.4,2.1,Iris-virginica
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [78]:
d

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [79]:
dff=d.describe()
dff

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [80]:
def mean_col(col):
    return d[col].mean()
mean_col('SepalLengthCm')

5.843333333333334

In [81]:
def mode_col(col):
    return d[col].mode()
mode_col('SepalLengthCm')

0    5.0
Name: SepalLengthCm, dtype: float64

In [82]:
def median_col(col):
    return d[col].median()
median_col('SepalLengthCm')

5.8

In [83]:
def meann(d):
  n = len(d)  # n is length of dataset values i.e totol obs
  mean = sum(d) / n    # mean is sum/n
  return mean

def variance(d):   
  n = len(d)
  mean = sum(d) / n
  deviations = [(x - mean) ** 2 for x in d] 
  variance = sum(deviations) / n
  return variance

def stdev(d):  # Stdev = sqroot(variance)
  import math
  var = variance(d)
  std_dev = math.sqrt(var)
  return std_dev

In [84]:
meann(d['SepalLengthCm'])

5.843333333333335

In [85]:
variance(d['SepalLengthCm'])

0.6811222222222222

In [86]:
stdev(d['SepalLengthCm'])

0.8253012917851409

In [87]:
def min_col(col):
    return d[col].min()

In [88]:
def max_col(col):
    return d[col].max()

In [89]:
def std_col(col):
    return d[col].std()

In [90]:
# stats for sepalLengthCm
col = input("Enter Column name: ")
print('Mean of column:',mean_col(col))
print('Median of column:',median_col(col))
print('Min of column:',min_col(col))
print('Max of column:',max_col(col))
print('Standard dev of column:',std_col(col))

Enter Column name: SepalLengthCm
Mean of column: 5.843333333333334
Median of column: 5.8
Min of column: 4.3
Max of column: 7.9
Standard dev of column: 0.828066127977863

In [45]:
# stats for sepalWidthCm
col = input("Enter Column name: ")
print('Mean of column:',mean_col(col))
print('Median of column:',median_col(col))
print('Min of column:',min_col(col))
print('Max of column:',max_col(col))
print('Standard dev of column:',std_col(col))

Enter Column name: SepalWidthCm
Mean of column: 3.0540000000000003
Median of column: 3.0
Min of column: 2.0
Max of column: 4.4
Standard dev of column: 0.4335943113621737

In [46]:
# stats for PetalWidthCm
col = input("Enter Column name: ")
print('Mean of column:',mean_col(col))
print('Median of column:',median_col(col))
print('Min of column:',min_col(col))
print('Max of column:',max_col(col))
print('Standard dev of column:',std_col(col))

Enter Column name: PetalWidthCm
Mean of column: 1.1986666666666668
Median of column: 1.3
Min of column: 0.1
Max of column: 2.5
Standard dev of column: 0.7631607417008411

In [47]:
# stats for PetalLengthCm
col = input("Enter Column name: ")
print('Mean of column:',mean_col(col))
print('Median of column:',median_col(col))
print('Min of column:',min_col(col))
print('Max of column:',max_col(col))
print('Standard dev of column:',std_col(col))

Enter Column name: PetalLengthCm
Mean of column: 3.758666666666666
Median of column: 4.35
Min of column: 1.0
Max of column: 6.9
Standard dev of column: 1.7644204199522626